html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.btn{
    min-width: 90px;
}
/* Estilos personalizados. */
table.kv-grid-table th{
    background-color: #286090;    
    text-align: center;
}
table.kv-grid-table th, table.kv-grid-table th a {
    color: white;
}
.panel-success .panel-heading{
    background-color: rgba(92, 184, 92, 0.6);
    border-color: rgba(92, 184, 92, 0.6);
}
.panel-success, .panel-success .panel-footer{
    border-color: rgba(92, 184, 92, 0.6);
}
.panel-success .panel-heading h3{
    margin-top: 5px;    
    margin-bottom: 5px;
    font-size: 20px !important;
    font-weight: 600;    
    color: white;
    text-shadow: 0px 0px 1.2px rgba(0,0,0,0.4);
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: rgba(169, 78, 76, 0.72);
}
.pagination {
    margin: 0px 0;
}

.summary{
    width: 100%;
    display: block;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    background-color: #286090;
    border-radius: 3px 3px 3px 3px;
}
i.fa {
    font-size: 20px;
}
.glyphicon {
    font-size: 18px;
}
.fixed-grid-column{
    min-width: 100px !important;
}

/**
 * Estilos del menú
 * Color del menú: #151719;
 * Color opcion-hover: #212529;
 * Color opcion-active: #101010;
 */

.side-nav-bar-container{
    position: fixed;
    left: 0px;
    min-width: 18%;
    height: 100%;
    background-color: #151719;
    padding-top: 45px;
    z-index: 10000;
    overflow-y: auto;
}

.main-page-container{
    float: right;
    width: 82%;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: inset 4px 5px 4px rgba(0,0,0,0.3);
    padding-bottom: 100px;
    background-color: white;
    margin-top: 44px;
    padding-top: 20px;
    position: fixed;
    right: 0px;
    height: 100%;
    overflow-y: auto;
}

.main-page-container .container{
    max-width: 100%;
}
.top-status-bar{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10001;
    height: 45px;
}
.top-status-bar nav{
    width: 100%;
    background-color: #151719;
    height: 45px;
}
.side-nav-bar-container ul li a{
    color: white;
    transition: background-color 0.3s;
    position: relative;
}
.side-nav-bar-container ul li a:hover, 
.side-nav-bar-container ul li a:focus,
.side-nav-bar-container li.dropdown ul.submenu a:hover,
.side-nav-bar-container li.dropdown ul.submenu a:focus, 
.top-status-bar .menu-options li a:hover,
.top-status-bar .menu-options li a:focus{
    background-color: #212529;
}
.side-nav-bar-container ul li.active a,
.side-nav-bar-container ul li.dropdown.opened a,
.side-nav-bar-container li.dropdown ul.submenu{
    background-color: #101010; 
}

.side-nav-bar-container ul li a .fa-chevron-right{
    position: absolute;
    right: 5%;
    top: 35%;
    transition: transform 0.6s;
}

.side-nav-bar-container ul li a i{
    font-size: 16px;
    margin-right: 10px;
    font-weight: 100;
}
.side-nav-bar-container ul li.dropdown.opened a .fa-chevron-right{
    transform: rotate(90deg);
}
.side-nav-bar-container li.dropdown ul.submenu{
    margin: 0px;
    padding: 0px;
}
.side-nav-bar-container li.dropdown ul.submenu a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    padding-left: 40px;
}
.side-nav-bar-container .nav-header{
    
}
.side-nav-bar-container .user-info {
    padding: 10px 15px 10px 15px;
    min-height: 70px;
    background-image: url(../pics/userbox-bg.png);
}
.side-nav-bar-container .nav-header img{
    width: 50px;
    border-radius: 50%;
}
.side-nav-bar-container .nav-header .data{
    width: 75%;
    float: right;
    padding-left: 10px;
}
.side-nav-bar-container .nav-header .photo{
    width: 25%;
    float: left;
}
.side-nav-bar-container .nav-header p {
    font-size: 13px;
}
.side-nav-bar-container .nav-header p {
    color: white;
    margin-bottom: 0px;
}
.side-nav-bar-container .nav-header .title {
    font-size: 17px;
}
.simple-separator{
    clear: both;
}
.side-nav-bar-container .nav-header .nav-search{
    position: relative;
}
.side-nav-bar-container .nav-header .nav-search input{
    border-radius: 0px;
    background-color: #212529;
    border: none;
}
.side-nav-bar-container .nav-header .nav-search i{
    position: absolute;
    right: 15px;
    top: 20%;
    color: #555;
}
.top-status-bar nav{
    background-color: #101010;
}
.top-status-bar .brand{
    color: white;
    height: 100%;
    display: inline-block;
    width: 18%;
    line-height: 40px;
    font-size: 18px;
    padding-left: 20px;
    text-decoration: none;
    text-align: center;
}
.top-status-bar .status-icons, 
.top-status-bar .menu-options{
    height: 100%;
    padding: 13px 30px;
    display: inline-block;
    float: right;
}
.top-status-bar .status-icons li{
    display: inline-block;
    margin: 0px 10px;
}
.top-status-bar .status-icons li a{
    color: white;
    position: relative;
}
.top-status-bar .status-icons li a span.count{
    color: white;
    position: absolute;
    background-color: red;
    padding: 0px;
    border-radius: 50%;
    height: 15px;
    width: 17px;
    display: block;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
    left: 14px;
    top: 7px;
}
.top-status-bar .status-icons li i, 
.top-status-bar .menu-options li i{
    font-size: 17px;
}
.top-status-bar .menu-options{
    padding: 0px;
    margin-left: 20px;
    height: 100%;
}
.top-status-bar .menu-options li{
    height: 100%;
    list-style: none;
}
.top-status-bar .menu-options li a{
    text-decoration: none;
    color: white;
    padding: 12px 20px;
    display: block;
    transition: background-color 0.3s;
}
body{
    font-size: 11px;
}